html 
{
	font-size: calc($index * 0.33333);
}

body 
{
	font-size: 1rem;
	font-family: 'Manrope';
}
main
{
	overflow: hidden;
}
.v-container
{
	padding: 0;
}
@media (max-width: 960px) {
	.v-container
	{
		max-width: 540px;
	}
}

@media (max-width: 600px) {
	.v-container
	{
		max-width: 320px;
	}
}



@media (min-width: 1600px) {
	.v-container
	{
		max-width: 1364px;
	}
}

.w-ft
{
	width: fit-content;
}

.d-inline {
	display: inline !important;
}

.d-inline-block {
	display: inline-block !important;
}

.d-block {
	display: block !important;
}

.d-grid {
	display: grid !important;
}

.d-flex {
	display: flex !important;
}

.d-inline-flex {
	display: inline-flex !important;
}

.d-none {
	display: none !important;
}

@media (min-width: 960px) {
	.d-lg-inline {
		display: inline !important;
	}

	.d-lg-inline-block {
		display: inline-block !important;
	}

	.d-lg-block {
		display: block !important;
	}

	.d-lg-grid {
		display: grid !important;
	}

	.d-lg-flex {
		display: flex !important;
	}

	.d-lg-inline-flex {
		display: inline-flex !important;
	}

	.d-lg-none {
		display: none !important;
	}
}


@media (min-width: 600px) {
	.d-md-inline {
		display: inline !important;
	}

	.d-md-inline-block {
		display: inline-block !important;
	}

	.d-md-block {
		display: block !important;
	}

	.d-md-grid {
		display: grid !important;
	}

	.d-md-flex {
		display: flex !important;
	}

	.d-md-inline-flex {
		display: inline-flex !important;
	}

	.d-md-none {
		display: none !important;
	}
}

