html 
{
	font-size: calc($index * 0.33333);
}

body 
{
	font-size: 1rem;
	font-family: 'Manrope';
}
main
{
	overflow: hidden;
}
.v-container
{
	padding: 0;
}
@media (max-width: 960px) {
	.v-container
	{
		max-width: 540px;
	}
}

@media (max-width: 600px) {
	.v-container
	{
		max-width: 320px;
	}
}



@media (min-width: 1600px) {
	.v-container
	{
		max-width: 1364px;
	}
}

.w-ft
{
	width: fit-content;
}
.d-none
{
	display: none !important;
}
.d-block
{
	display: block !important;
}
@media (max-width: 600px) {
	.d-md-none
	{
		display: none !important;
	}
	.d-md-block
	{
		display: block !important;
	}
}
