@import './fonts.scss';
@import './vars.scss';
@import './global.scss';


.swiper-navigation
{
    display: flex;
    column-gap: 1.4rem;
}

.swiper-button
{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    img
    {
        width: 100%;
        height: 100%;
    }
}
.v-label
{
    font-size: 1.4rem;
}
@media (max-width: 960px) {
    .swiper-button
    {
        width: 32px;
        height: 32px;
    }
    .v-label
    {
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .swiper-button
    {
        width: 40px;
        height: 40px;
    }
}
.main-section
{
    padding: 6rem 0;
}
@media (max-width: 600px) {
    .main-section
    {
        padding: 32px 0;
    }
}
.section-head
{
    display: flex;
    justify-content: space-between;
}
.section-label
{
    color: $primary;
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: -0.48px;
}
@media (max-width: 600px) {
    .section-label
    {
        font-size: 40px;
    }
}
a.link
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.btn-back
{
    display: flex;
    align-items: center ;
    column-gap: .8rem;
    color: #867B6E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.216px;
    text-decoration: none;
    img
    {
        width: 2rem;
        height: 2rem;
        object-fit: contain;

    }
}
.close-modal
{
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    object-fit: contain;
    outline: none;
    border: 0;
}
@media (max-width: 600px) {
    .close-modal
    {
        width: 16px;
        height: 16px;
        object-fit: contain;
        right: 28px;
        top: 56px;
    }
}
.tooltip
{
    opacity: 0;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    right: calc(100% + 8px);
    transform: translateY(-50%);
    border-radius: 4px;
    font-size: 1.2rem;
    color: #27231E;
    white-space: nowrap;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 4px #f5f4f2;
    transition: 0.2s;
    pointer-events: none;
}
@media (max-width: 960px) {
    .tooltip
    {
        display: none !important;
    }
}
.f-button
{
    background: #FFFFFF;
    border-radius: 0;
    color: #67677A;
    &:hover
    {
        background: #FFFFFF !important;
        color: #67677A !important;
    }
}
.fancybox__toolbar.is-absolute, .is-compact .fancybox__toolbar
{
    bottom: 0;
    top: initial;
    left: 50%;
    right: initial;
    transform: translateX(-50%);
}
.fancybox__slide.has-image {
    .fancybox__content
    {
        padding: 50px 0;
    }
}

@media (max-width: 960px) {
    .fancybox__slide.has-image {
        .fancybox__content
        {
            padding: 25px 0;
        }
    }
}
.v-btn.v-btn--density-default
{
    height: auto;
}